<div class="jumbotron">
  <h2>DOTS</h2>
</div>

<%# <a role="button" %> 
<%#    class="btn btn-lg btn-primary" %>
<%#    href="<%= page_path(@conn, :board) %1>">Board</a> %>

<!-- Show meaning of '%=' -->
<%# <a role="button" %>
<%#    class="btn btn-lg btn-warning" %>
<%#    href="<%= page_path(@conn, :pad) %1>">Pad</a> %>

<%# <div id="elm-main"></div> %>
